.navbar {
	background-color: #fff;
	z-index: 9999;
	border-radius: 0;
    color: #008aac;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav li a:hover {
	color: #fff !important;
	background-color: #008aac !important;
}

.header-logo {
    height: 45px;
    width: 150px;
    margin: -11px 0 0 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #008aac;
    border-color: #008aac;
}

.btn-primary {
    color: #fff;
    background-color: #008aac;
    border-color: #008aac;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/images/ajax-loader-raster.gif')
                50% 50%
                no-repeat;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#main_win.loading {
    overflow: hidden;
}

#main_win.loading .modal {
    display: block;
}
