{extends file="parent:backend/_base/layout.tpl"}

{block name="content/main"}
    <div class="page-header">
        <h1>Plugin Settings HowTo</h1>
    </div>
    <h3>All Shopware subscriber import to Maileon</h3>
    <p>With this plugin you can synchronize your subscribers with Maileon.</p>
    <h3>Shopware subscriber/unsubscriber syncron with Maileon</h3>
    <p>With this plugin you can synchronize your subscribers with Maileon.</p>
    <h3>Maileon unsubscriber webhook settings</h3>
    <p>With this plugin you can synchronize your subscribers with Maileon.</p>


{/block}